<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org">
<head>
    <title>Angular Cellar</title>
    <base href="/"> 
</head>

    <body ng-app="angularUpgrade">
        <a href="/wines">Wines</a>
        <a href="/books">Books</a>
        <div ng-view></div>
    </body>

</html>